// recipes.jade
// Create html page for viewing recipe results using Jade, a Node.js template engine

extends layout

block content
  h1= title
  h3 Description: #{description}
  p Results of #{title}
  p Data: 
  p #{data}