// layout.jade
// Create header html page using Jade, a Node.js template engine

doctype 5
html
  head
    title= tab_name
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content